// editor
.medium-editor-toolbar-active {
    visibility: visible;
    background: #093d70;
    color: white;
}

.medium-editor-element,
.descripcion {
    min-height: 300px;
    border: 1px solid #efefef;
    background: #fff;

    ol, ul, h1, h2, h3, p, a {
        color: #4a5568;
    }

    ol, ul {
        padding-left: 50px;
    }
    ol {
        list-style: decimal;
    }
    ul {
        list-style: disc;
    }
    h2, h3 {
        margin: 1rem 0;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1rem;
        line-height: 2;
    }
}

// Dropzone
.dropzone {
    border: 2px dashed #0f5aa2;

    .dz-error {
        display: none;
    }

    .dz-message .dz-button{
        color: #666;
    }
}

//Paginations
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
    .page-link {
        font-size: .8rem;
        margin-right: 2rem;
    }

    a {
        color: #38b2ac;
    }
    span.page-link{
        color: #718096;
    }
}
