@import 'resources/sass/_devjobs.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded_count{
    background: #3179c3;
    color:#fff;
    padding: 2px 9px;
    border-radius:100%;
}

form .btn-search{
    background-image: url(../../images/icon_search.svg);
    background-color: #41b5af;
    color: #585858;
    padding: 10px;
    width: 55px;
    height: 54px;
    text-indent: -666em;
    overflow: hidden;
    background-size: contain;
    position: absolute;
    right: -0px;
    top:-1px;
    &:hover{
        background-color: #349d97;
        cursor: pointer;
    }
}
