<template>
    <button @click="handleDelete" class="text-red-600 hover:text-red-900  mr-5">Eliminar</button>
</template>

<script>
export default {
name: "eliminarVacante",
    props:['vacanteId'],
    methods:{
    handleDelete(){
        console.log("Eliminando..." + this.vacanteId);

        this.$swal({
            title: 'Deseas Eliminar Estos Datos?',
            text: "Ten encuenta que no se podra volver a recuperar",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '¡Sí, bórralo!'
        }).then((result) => {
            if (result.isConfirmed) {
                const params = {
                    id: this.vacanteId,
                    _method: 'delete'
                }
                axios.post(`/vacantes/${this.vacanteId}`, params)
                    .then((resp)=>{
                        console.log(resp);
                        this.$swal.fire(
                            'Vacante Eliminado!',
                            `Sus datos han sido eliminado.${resp.data.msg}`,
                            'success'
                        )
                        //Delete of Dom
                        this.$el.parentNode.parentNode.parentNode.removeChild(this.$el.parentNode.parentNode)

                }).catch((error)=>{
                    console.log(error)
                })
            }
        });
    }
    }
}
</script>


