<template>
    <div class="container">
      <ul class="flex flex-wrap justify-center">
          <li class="border border-gray-500 px-10 py-3 m-2 rounded cursor-pointer hover:bg-blue-400 hover:text-white border-blue-500 "
              :class="classActive(skill)"
              v-for="(skill, i) in this.skills" :key="i" v-on:click="active">{{skill}}</li>
      </ul>
    </div>
</template>

<script>
export default {
    props:['skills', 'oldskills'],
    data: function(){
        return{
            bedrooms: new Set,
        }
    },
    created() {
        if(this.oldskills) {
            const killsArrays =  this.oldskills.split(',');
            killsArrays.forEach( skill => this.bedrooms.add(skill) )
        }
    },
    mounted:function(){
        if(this.oldskills){
            document.querySelector('#habilidades').value = this.oldskills
        }
    },
    methods:{
        active(e){
            if(e.target.classList.contains('bg-indigo-500')){
                e.target.classList.remove('bg-indigo-500', 'border-indigo-600');
                e.target.classList.add('text-blue-600');
                this.bedrooms.delete(e.target.textContent)
            }else{
                e.target.classList.remove('text-blue-600');
                e.target.classList.add('bg-indigo-500', 'text-white', 'border-indigo-600');
                this.bedrooms.add( e.target.textContent)
            }

            const stringSkills = [...this.bedrooms];
            document.querySelector('#habilidades').value= stringSkills;
        },
        classActive(skill){
           return this.bedrooms.has(skill)?  'bg-indigo-500 text-white border-indigo-600' : '';
        }
    }
}
</script>
