<template>
    <span
        @click="handleState"
        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full cursor-pointer "
        :class="stateVacante === 1 ? 'bg-green-200 text-green-800' : 'bg-red-200 text-red-800'"
    >
       {{stateVacante === 1 ? 'Activo' : 'Inactivo'}}
    </span>
</template>

<script>
export default {
    name: "StateVacante",
    props:['estado', 'vacanteId'],
    data: function(){
        return{
            stateVacante: null
        }
    },
    mounted() {
        this.stateVacante = Number(this.estado);
    },
    methods:{
        handleState(){
            if(this.stateVacante === 1){
                this.stateVacante = 0
            }else{
                this.stateVacante = 1
            }

            const params = {
                "state": this.stateVacante
            }

            //Send Axios
            axios.post(`/vacantes/${this.vacanteId}`, params)
                .then((resp)=>console.log(resp.data.success))
                .catch((error)=>console.log(error))
        }
    }

}
</script>


